# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=4000

DATABASE_URL="postgresql://postgres:admin@localhost:5432/database_name?schema=public"
DATABASE_HOST=db
DATABASE_PORT=5432

JWT_ACCESS_SECRET='Qq16HPRZkBOJYWfwhYcva2EbR0RYM1w82vvMQqYaUyjzooWSZzJgLJP/jj7+pvsquQwFXdT7O+fESt/eAz8V/CU7EQJS1sdYgUFCNsQMrq9Aw9HeMCsC2bfGNbzAA7HJy9ef6XBJWMdZf9WCTH0Wm0XW56BGWBSpPX5HKSFfOe1E+epC1cmk7PfxY/TJODz8cOwExNEEtXNWaosT4IFcpmh1AWZEmi3yFSIpbAF4xEDBAIxW/s6b1gpthqcgMU+h1eQofEHD5+D7/mR56VVq0gYqggoTT824h/RSWao38yY+uol+hJthnPvacu5lvULBfySLGtR3JI5PFQdr+xylpw=='
JWT_REFRESH_SECRET='7i3YyX5c8GoMMVmdbHpzNo97qjFpoPUNu1eJD23aHbNEbxK4L9wqbFxkd6LpzpAETOCgzl9xMiPGUlrHu7hbGQsqcRQwqEmWodPfbXuObvcraV5pw5CMDmPgxFnm0YGLiVsEBEmJqwlgmzLHysQQ5KeQ68wdanntg7wD0QYIWdMP+gOv+0gS8ZXNBwg0APQaBakLggDR1ZXXIIb/C9Gqys0gjerwc64xbDMLOmzA5XzqVr3O/4EpKCMFzMZEjLcVr3ALhXr/8CBZZppLd5F94wrPWNx6H0usN50C9Q18cZawG+E2H36GzcQbOwQogtFGPwZ8osjjrE3yDkPEuJ6bHw=='

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=15
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_MINUTES=60
JWT_REFRESH_EXPIRATION_DAYS=7
